<div class="center hero-unit">
<h1>Welcome to Brunch in Brookline!</h1>
<p>
  The petition to bring a solid brunch to Brookline!
</p>
<p>
  <%= link_to "Sign the petition!", '#' , class: "btn btn-large btn-primary" %>
</p>
</div>